/*Intro section starts here*/
.intro-section {
    display: flex;
    justify-content: center;
    column-gap: 70px;
    padding-top: 100px;
    padding-bottom: 170px;

}

.intro-info {
    display: inline-block;
    margin-top: 50px;
}

.info {
    font-size: 55px;
    color: rgb(32, 69, 114);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.one-line-desc.animate-float {
    animation: floating 0.5s ease-in 1;
}

#about-btn {
    padding: 15px;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
    background-color: rgb(152, 98, 170);
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 30px;
    box-shadow: 2px 2px 5px rgba(41, 70, 199, 0.2);

}

#about-btn:hover {
    box-shadow: 4px 4px 4px rgba(255, 16, 16, 0.371);
    background-color: rgb(58, 33, 67);
}

#about-btn.animate-float {
    animation: floating 0.5s ease-in 1;
}

.info-links {
    margin-top: 35px;
    display: flex;
    column-gap: 15px;
}

.info-links.animate-float {
    animation: floating 0.5s ease-in 1;
}

.links {
    padding: 12px;
    font-size: 22px;
    border: none;
    border-radius: 50px;
    transition: 0.1s ease-in-out;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    cursor: pointer;
}

.links:hover {
    background-color: rgb(100, 103, 159);
    transform: scale(1.1);

}

.intro-profile {
    border-radius: 200px;
    background-color: orange;
    transition: transform 0.5s ease-in-out;
    transform-origin: center;

}

.intro-profile:hover {
    transform: perspective(800px) rotateY(5deg) rotateX(5deg);
    box-shadow: 4px 4px 2px 4px rgba(119, 56, 56, 0.371);
    transform: scale(1.1);
}

.intro-profile.animate-float {
    animation: floating 0.8s ease-in 1;
}
