
/*Projects section starts here*/

.projects-section {
    padding-top: 20px;
    padding-bottom: 60px;
    background-color: #000031;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 30px;
}

.projects-heading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 1000;
    color: rgb(255, 255, 255);
}

.projects-outer-grid {
    display: grid;
    grid-template-columns: 380px 380px 380px;
    padding: 10px;
    row-gap: 20px;
    column-gap: 20px;

}

.projects-inner-grid {
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid black;
    row-gap: 10px;
    padding-bottom: 10px;
    background-color: #FFD900;
    border-radius: 8px;
    transition: 0.3s;
    cursor: pointer;
}

.projects-inner-grid.animate-float {
    animation: floating 0.8s ease-in 1;
}

.projects-inner-grid:hover {
    transform: scale(1.1);
}

.project-img {
    width: 378px;
    height: 230px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.project-name {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 20px;
}


.project-buttons {
    display: flex;
    column-gap: 100px;
    justify-content: center;
}

.inner-button {
    color: #ffffff;
    background-color: rgb(26, 25, 27);
    border-radius: 5px;
    border: none;
    font-family: 'Lucida Sans Unicode';
    font-weight: bold;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 30px 5px 30px;
}

.inner-button:hover {
    transition: 0.3s;
    background-color: rgb(150, 91, 205);

}

.inner-anchor {
    text-decoration: none;
    color: #ffffff;
}